* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}



.debug {
}





header {
    height: 70px;    
    background-color: white;
    position: sticky;
    top: 0;
}

.d-flex {
    display: flex;
}

nav {
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.menu{
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.box{
    height: 70px;
    align-items: center;
}
.box:hover{
    border-bottom: solid black;
}

.menu .inizia{
    background-color: #0061ff;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    text-decoration: none;
}
.inizia:hover{
    filter: saturate(10);
}


.container{
    width: 1170px;
    margin: auto;
}


/* jumbotron */
.jumbotron{
    background-color: #b4d1e7;
    height: 620px;

}

h1{
    font-size: 80px;
}

.coluno{
    width: 30%;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;

}
.coldue{
    width: 70%;
}

.coluno p, span{
    margin-bottom: 2rem;
}

.coluno a{
    color: white;
    text-decoration: none;
    
}

.btn {
    background-color: #0061ff;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 15px;
    text-decoration: none;
    border: none;
    height: 30px;
    width: 250px;
    text-align: center;
}
.btn:hover{
    filter: saturate(10);
}


.fa-arrow-down{
    font-size: 50px;
}
.fa-arrow-down:hover{
    color: orangered;
}

/* packs section */
h2{
    font-size: 40px;
}

.fatturazione{
    margin: 20px 0px;
    gap: 30px;
}

.packs{
    height: 1500px;
    margin-top: 150px;
}

.row-packs{
    justify-content: space-between;
    flex-wrap: wrap;
}
.pack{
    border: 1px solid lightgrey;
    width: calc(100% / 3 - 20px);
    height: 1000px;
}

.pack-title{
    justify-content: center;
    padding: 8px;
    height: 40px;
    border-bottom: 1px solid lightgrey;
    gap: 8px;
}

.pack-cont{
    width: 90%;
    height: 100%;
    margin: auto;
}

ul{
    list-style: none;
}

h3{
    font-size: 30px;
}

.pack h3{
    padding: 20px 0px;
}

.mese{
    color: #8c8c8c;
    padding: 20px 0px 40px 0px;
}

.pack li{
    padding: 15px 0px;
}

.prova{
    text-align: center;
    background-color: #0061ff;
    height: 40px;
    vertical-align: middle;
    padding: 8px;
    margin:  50px 0px;
}
.prova:hover{
    filter: saturate(10);
}
.prova a{
    text-decoration: none;
    color: white;
}

.fa-check{
    color: #0061ff;
}




.team{
    height: 300px;
    border: 1px solid lightgrey;
    margin-top: 25px;
}

.left{
    flex-direction: column;
    justify-content: space-between;
 width: 60%;
 height: 250px;
 padding: 20px;
}

.left h4{
    padding-bottom: 80px;
}

.right{
width: 40%;
}

.right .prova{
    margin: 30px;
}

/* contact */

.contact{
    width: 100%;
    height: 500px;
    margin-top: 100px;
}

.contact-row{
    width: 100%;
    height: 500px;
}
.contact-row .left{
    width: 70%;
}

.contact-row .right{
    width: 30%;
}

.left img{
    width: 100%;
}

.contact-row .right h3{
    padding: 100px 0px 30px 0px;
}

.contact-row .right p{
    padding: 20px 0px 50px 0px;
}

.contact-row a{
    text-decoration: none;
    border: solid;
    padding: 10px;
    color: black;
}
.contact-row a:hover{
    background-color: black;
    color: white;
}

/* operazioni */

.opera{
    margin-top: 400px;
}

.opera h2{
    margin-bottom: 50px;
}

.opera-row{
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 3);
    min-height: 200px;
    padding: 20px;
}
.card:hover{
    box-shadow: 5px 5px 11px 0px gray;
}

.card h3{
    margin-bottom: 30px;
}



/* clients */
.clients{
    margin-top: 200px;
}

.clients h2{
    margin-bottom: 50px;
}

/* brand */

.brands-row{
    margin-top: 100px;
    min-height: 400px;
    background-color: lightgreen;
}

.brands-cont{
    width: calc(100% / 3);
    background-color: #f5f5f5;
    flex-wrap: wrap;
}

.brand{
    width: 50%;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
}

.brand:hover{
    border: 5px inset grey;
}

/* designit */
.designit{
    background-color: #a3d39b;
}
.designit img{
    filter: invert(1);
}

/* asu */
.asu{
    background-color: #61082c;  
}
.asu img{
    filter: invert(1);
}

/* florida */
.florida{
    background-color: #0093ce;
}
.florida img{
    filter: invert(1);
}

/* topps */
.topps{
    background-color: #ff1d1d;
}
.topps img{
    filter: invert(1);
}

/* world */
.world{
    background-color: #d5001f;
}
.world img{
    filter: invert(1);
}

/* hearst */
.hearst{
    background-color: #b4d1e7;
}
.hearst img{
    filter: invert(1);
}

/* lonely */
.lonely{
    background-color: #0c2481;
}
.lonely img{
    filter: invert(1);
}

/* clear */
.clear{
    background-color: #ffd831;
}
.clear img{
    filter: invert(1);
}


.center{
    padding: 30px;
}
.center p{
    color: rgb(93, 92, 92);
}

.clients-footer{
    min-height: 300px;
    background-color: #b4d1e7;
    align-items: center;
}

.free-row{
    justify-content: space-between;
    padding-top: 100px;
}

.free-row h2{
    color: #61082c;
}


.free-row a{
    text-decoration: none;
    background-color: white;
    color: rgb(93, 92, 92);
    padding: 10px 40px;
}

.free-row a:hover{
    background-color: black;
    color: white;
}

/* questions */
.questions{
    margin: 100px 0px;
}

.questions h2{
    margin-bottom: 50px;
}

.question{
    justify-content: space-between;
    margin-top: 20px;
}


.risposta{
    padding: 20px 0px;
    color: rgb(93, 92, 92);
    display: none;
}

.domanda:hover .risposta{
    display: block;
}

span{
    transition: 1s;
}
.question:hover span{
    transform: rotate(180deg) 
}

/* footer */

footer{
    background-color: black;
    height: 500px;
    color: white;
}

.footer-row{
    padding: 80px 0px 50px 0px;
}

.col {
    flex-direction: column;
    width: calc(100% / 5);
}

.col h4{
    margin-bottom: 30px;
    font-size: 20px;
}
.col h4:hover{
    text-decoration: underline;
}

.col a{
    text-decoration: none;
    color: white;
    padding: 10px 0px;
    font-size: 14px;
}
.col a:hover{
    color: gray;
}


.lang{
    padding-top: 40px;
    color: gray;
}
.lang:hover{
    color: white;
}