* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}



.debug {
    background-color: orange;
}





header {
    height: 50px;    
}

.d-flex {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}

.menu{
    justify-content: space-evenly;
    gap: 20px;

}

.menu a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.inizia{
    background-color: #0061ff;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    text-decoration: none;
    border: none;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}

.container{
    width: 1170px;
    margin: auto;
    height: 100vh;
}

.jumbotron{
    background-color: #b4d1e7;
    height: 620px;

}

h1{
    font-size: 80px;
}

.uno{
    width: 30%;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;

}
.due{
    width: 70%;
}

.uno p, span{
    margin-bottom: 2rem;
}

.uno a{
    color: white;
    text-decoration: none;
    
}

.btn {
    background-color: #0061ff;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 15px;
    text-decoration: none;
    border: none;
    height: 30px;
    width: 250px;
    text-align: center;
}

/* packs section */
h2{
    font-size: 40px;
}

.fatturazione{
    margin: 20px 0px;
    gap: 30px;
}

.packs{
    margin-top: 150px;
}

.row-packs{
    justify-content: space-between;
    flex-wrap: wrap;
}
.pack{
    flex-direction: column;
    border: 1px solid lightgrey;
    width: calc(100% / 3 - 20px);
    height: 1000px;
}

.pack-title{
    text-align: center;
    vertical-align: middle;
    height: 40px;
    border: 1px solid lightgrey;
}

.pack-cont{
    width: 90%;
    height: 100%;
    margin: auto;
    background-color: greenyellow;
}


.team{
    height: 300px;
    border: 1px solid lightgrey;
    margin-top: 25px;
}